/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, h1, h2,
h3, h4, h5, h6, p, a, 
img, s, ol, ul, li,article,
footer, header, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* ================ main css ================ */

body {
	background: #EEEEEE;
}

header {
	width: 960px;
	margin: 0px auto;
}

.topHeader {
	overflow: hidden;
	padding: 30px 0px;
	width: 960px;
}

.topHeader .logo h2 {
	width: 300px;
	float: left;
	color: #454545;
	font-size: 30px;
	font-family: verdana;
	letter-spacing: 1px;
	overflow: hidden;
}

.MainMenu {
	float: right;
}

.MainMenu  ul {
	overflow: hidden;
}

.MainMenu li {
	float: left;
	margin: 0px 0px 0px 15px;
}

.MainMenu li a {
	display: block;
	color: #454545;
	font-size: 18px;
	text-decoration: none;
}

.MainMenu ul li a:hover {
	border-bottom: 1px solid gray;
}

.slider {
  overflow: hidden;
  padding-bottom: 30px;
}

.contentArea {
  float: left;
  width: 600px;
}

.contentArea h1 {
	font-size: 100px;
	letter-spacing: 1px;
	word-spacing: 2px;
	text-align: center;
}

.contentArea p {
	font-size: 16px;
	font-family: courier;
	color: #555555;
	text-align: justify;
	line-height: 25px;
}

.contentArea a {
  color: red;
  display: block;
  font-size: 18px;
  margin-top: 66px;
  text-decoration: none;
  text-shadow: 2px 2px 2px gray;
  width: 100px;
}

.contentArea a:hover {
	text-decoration: underline;
}

.image {
  display: block;
  float: left;
  width: 360px;
}
.image > img {
  width: 100%;
  display: block;
  margin-left: 60px;
}

.featuredArea {
	clear: both;
	background: #fff;
	width: 960px;
	margin: 0px auto;
	text-align: center;
	overflow: hidden;
	padding-bottom: 20px;
}

.featuredArea h3 {
	font-weight: bold;
	font-size: 25px;
	font-family: verdana;
	padding: 20px 0px;
}

hr {
	border: none;
	height: 1px;
	width: 250px;
	background: gray;
	margin: 0px auto;
}

.featuredArea p {
	font-size: 15px;
	color: #555;
	padding: 20px 0px;
}

.feature li {
	float: left;
	margin: 10px 19px;
}

.feature li img {
	border-radius: 10px;
	display: block;
}


.clearfix {
	clear: both;
}

.formArea {
	width: 960px;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 20px;
}

.formArea > h4 {
	text-transform: uppercase;
	font-weight: bold;
	word-spacing: 2px;
	padding: 20px 0;
	font-size: 30px;
	text-shadow: 2px 2px 2px gray;
}

.formArea > p {
	width: 400px;
	margin: 0px auto;
	line-height: 25px;
	color: #555;
	padding-bottom: 15px;
}

.formArea > input {
	border: none;
	background: #fff;
	padding: 10px 50px 10px 5px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-radius: 10px 0px 0px 10px;
	color: #ccc;
	font-size: 14px;
}

button {
	margin-left: -4px;
	border: none;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 8px 15px;
	border-radius: 0px 10px 10px 0px;
	background: #E10011;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 1px;
	font-size: 15px;
}

footer {
	width: 960px;
	margin: 0px auto 20px;
	text-align: center;
}

.social_icon li {
	display: inline-block;
	padding: 5px 8px;
	border-radius: 50%;
	margin: 20px 10px;
	background: #fff;
}

footer > p {
	color: gray;
	font-size: 18px;
	font-style: italic;
	font-family: courier;
}

















